---
layout: default
---

{% for post in paginator.posts %}
	<article class="post-container">
		{% unless forloop.first %}<hr />{% endunless %}
		<h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
		<p class="text-muted">
			<span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
			{% if post.categories != empty %}<span class="post-tags"><i class="fa fa-tags"></i> {{ post.categories | join: ", " }}</span>{% endif %}
			<span class="post-comments"><i class="fa fa-comments"></i> 5 comments</span>
		</p>
		{{ post.content }}
		<p>
			<a href="{{ post.url }}">Read Post</a>
		</p>
	</article>
{% endfor %}

<div class="row">
	<div class="col-md-12 text-center">
		<ul class="pagination">
			{% if paginator.previous_page %}
				{% if paginator.previous_page == 1 %}
					<li><a href="/">Prev</a></li>
				{% else %}
					<li><a href="/page{{ paginator.previous_page }}">Prev</a></li>
				{% endif %}
			{% else %}
				<li><span class="disabled">Prev</span></li>
			{% endif %}
			{% if paginator.page == 1 %}
				<li><span class="active">1</span></li>
			{% else %}
				<li><a href="/">1</a></li>
			{% endif %}
			{% for count in (2..paginator.total_pages) %}
				{% if count == paginator.page %}
					<li><span class="active">{{ count }}</span></li>
				{% else %}
					<li><a href="/page{{ count }}">{{ count }}</a></li>
				{% endif %}
			{% endfor %}
			{% if paginator.next_page %}
				<li><a href="/page{{ paginator.next_page }}">Next</a></li>
			{% else %}
				<li><span class="disabled">Next</span></li>
			{% endif %}
		</ul>
	</div>
</div>