---
layout: default
---

{% for post in paginator.posts %}
	<article class="post-container">
		{% unless forloop.first %}<hr>{% endunless %}
		{% include post-header.html  meta=post %}
		{{ post.content }}
	</article>
{% endfor %}

{% if paginator.previous_page or paginator.next_page %}
<nav>
	<hr>
	<ul class="pager">
			{% if paginator.previous_page %}
				<li class="previous"><a href="{{ paginator.previous_page_path }}"><i class="fa fa-long-arrow-left"></i> Newer Posts</a></li>
			{% endif %}
			{% if paginator.next_page %}
				<li class="next"><a href="{{ paginator.next_page_path }}">Older Posts <i class="fa fa-long-arrow-right"></i></a></li>
			{% endif %}
	</ul>
</nav>
{% endif %}