<footer class="container site-footer">
	<hr>
	<div class="row text-muted small">
		<div class="col-sm-6">
			<p>Copyright &copy; {{ site.time | date: '%Y' }} {{ site.author }}</p>
		</div>
		{% if site.github_url %}
		<div class="col-sm-6">
			{% capture github_message %}Hosted on <i class="fa fa-github"></i> <a href="{{ site.github_url }}">GitHub Pages</a>{% endcapture %}
			<p class="hidden-xs text-right">{{ github_message }}</p>
			<p class="visible-xs-block">{{ github_message }}</p>
		</div>
		{% endif %}
	</div>
</footer>
