<header class="navbar navbar-default site-navbar">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">{{ site.title }}</a>
		</div>
		<nav id="navbar-collapse" class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				{% if site.about_url %}
				<li><a href="{{ site.about_url }}" title="About Me">
					<i class="fa fa-user fa-lg fa-fw"></i>
					<span class="visible-xs-inline">About Me</span>
				</a></li>
				{% endif %}
				{% if site.archive_url %}
				<li><a href="{{ site.archive_url }}" title="Blog Archives">
					<i class="fa fa-archive fa-lg fa-fw"></i>
					<span class="visible-xs-inline">Blog Archives</span>
				</a></li>
				{% endif %}
				{% if site.feed_url %}
				<li><a href="{{ site.feed_url }}" title="Atom Feed">
					<i class="fa fa-rss fa-lg fa-fw"></i>
					<span class="visible-xs-inline">Atom Feed</span>
				</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
</header>
