{% assign meta = include.meta %}
<p class="post-meta text-muted">
{% if meta.date %}
	<span class="post-date">{{ meta.date | date: "%B %-d, %Y" }}</span>
{% endif %}
{% if meta.categories and meta.categories != empty %}
	<span class="post-tags"><i class="fa fa-tags"></i> {{ meta.categories | join: ", " }}</span>
{% endif %}
{% if include.comments == nil or include.comments %}
	<span class="post-comments">
		<i class="fa fa-comments"></i> 
		<a href="{{ meta.url }}#comments">5 comments</a>
	</span>
{% endif %}
</p>
