body {
	font-family: $font-family-sans-serif;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $font-family-sans-serif;
}

h1,h2,h3,h4,h6,h5 { margin-bottom: ($line-height-computed / 2); }
h1, h2, h3 { margin-top: $line-height-computed; }
h4, h5, h6 { margin-top: ($line-height-computed / 2); }

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

@media (min-width: $screen-xs-min) {

	body { font-size: $font-size-base-large; }

	h1 { font-size: floor($font-size-h1 * $font-size-large-ratio); }
	h2 { font-size: floor($font-size-h2 * $font-size-large-ratio); }
	h3 { font-size: ceil($font-size-h3 * $font-size-large-ratio); }
	h4 { font-size: ceil($font-size-h4 * $font-size-large-ratio); }
	h5 { font-size: ceil($font-size-h5 * $font-size-large-ratio); }
	h6 { font-size: ceil($font-size-h6 * $font-size-large-ratio); }
}

