$default-image-height: 250px;

.photo-gallery {
  $self: &;

  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 2px;
  }

  &__img {
    height: $default-image-height;
    vertical-align: bottom;
  }

  @supports (width: var(--dummy)) {
    --target-height: #{$default-image-height};

    @media only screen and (max-width: 800px) {
      --target-height: #{0.75 * $default-image-height};
    }

    @media only screen and (max-width: 640px) {
      --target-height: #{0.5 * $default-image-height};
    }

    gap: 4px;

    &__item {
      --item-aspect: 1;

      flex-basis: calc(var(--item-aspect) * var(--target-height));
      flex-grow: var(--item-aspect);
      overflow: hidden;
      position: relative;

      @supports (gap: 0) {
        margin: 0;
      }

      &::before {
        display: block;
        content: "";
        padding-bottom: calc(100% / var(--item-aspect));
      }
    }

    &__img {
      position: absolute;
      top: 0;
      width: 100%;
      height: auto;

      transition: transform 0.15s ease;

      #{ $self }__item:hover & {
        transform: scale(1.1);
      }
    }

    &::after {
      content: "";
      flex-grow: 1e5;
      min-width: 20%;
    }
  }

  &__caption {
    display: none;
  }
}

.pswp__image-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  background: rgba(0, 0, 0, 0.3);
  font-size: 0.8rem;
  color: #fff;
  padding: 0.5rem;
  text-shadow: #000 0 0 2px;

  p {
    margin: 0;
  }

  a {
    color: inherit;
  }
}
