@use "font-roboto";
@use "gallery";

:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

#content {
  display: block;
  margin: 0 1rem;
}

.pswp__info {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  background: black;
}
