{{ $page := .Page }}
{{ $images := (.Page.Resources.ByType "image") }}
{{ with .Get "match" }}
  {{ $images = $images.Match . }}
{{ end }}
{{ $animate := .Get "animate" | default true }}
{{ $thumbSize := site.Params.imageThumbSize }}
{{ $fullSize := site.Params.imageFullSize }}
<div
  class="photo-gallery"
  {{ if $animate }}
    data-aos="fade-in" data-aos-anchor-placement="top-bottom"
  {{ end }}
>
  {{ range $original := (sort $images "Exif.Date") }}
    {{ $size := cond (gt $original.Width $original.Height) $original.Width $original.Height }}
    {{ $thumbnail := $original }}
    {{ if gt $size $thumbSize }}
      {{ $thumbnail = $original.Fit (printf "%dx%d" $thumbSize $thumbSize ) }}
    {{ end }}
    {{ $fullImage := $original }}
    {{ if gt $size $fullSize }}
      {{ $fullImage = $original.Fit (printf "%dx%d" $fullSize $fullSize ) }}
    {{ end }}
    {{ $exif := $original.Exif }}
    {{ $aspect := div (float $thumbnail.Width) (float $thumbnail.Height) }}
    <a
      href="{{ $fullImage.RelPermalink }}"
      class="photo-gallery__item"
      target="_blank"
      data-pswp-width="{{ $fullImage.Width }}"
      data-pswp-height="{{ $fullImage.Height }}"
      style="--item-aspect: {{ $aspect }}"
    >
      <img
        class="photo-gallery__img"
        src="{{ $thumbnail.RelPermalink }}"
        loading="lazy"
      />
      <div class="photo-gallery__lightbox-caption">
        {{ if not (eq $original.Name $original.Title) }}
          <p class="photo-gallery__title">
            {{ $original.Title | markdownify }}
          </p>
        {{ else if $exif.Tags.ImageDescription }}
          <p class="photo-gallery__title">
            {{ $page.RenderString $exif.Tags.ImageDescription }}
          </p>
        {{ end }}
        {{ with partial "exif" $exif }}
          <p class="photo-gallery__exif">{{ . }}</p>
        {{ end }}
      </div>
    </a>
  {{ end }}
</div>
